body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}
@media (min-width: 100px) and (max-width: 2500px) {
  body {
    max-width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    background: linear-gradient(to top, #f90, #fff, #f90, #fff);
  }

  .container {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    max-width: 100%;
    display: flex;
    border-radius: 2rem;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    top: 0.5rem;
    margin: 0 auto;
  }
  .navbar .links {
    width: 60%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
  }
  .links a {
    color: #fff;
    text-decoration: none;
  }
  .links a:hover {
    color: #f90;
  }
  .but {
    width: 10%;
    background-color: #f90;
    padding: 0.4rem;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
  }
  .but:hover {
    background-color: black;
    border: 2px solid #f90;
    color: white;
  }
  .logo {
    width: 20%;
    height: auto;
  }
  .logo img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
  }
  .content {
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
  }
  .car {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .car img {
    width: 50%;
    height: auto;
    border-radius: 0.5rem;
  }
  .content-two {
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
  }
  .ideas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  .idea {
    width: 20%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .idea img {
    max-width: 50%;
    height: auto;
    border-radius: 5rem;
  }
  .content-three {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 2rem;
  }
  .content-three img {
    width: 50%;
    height: auto;
    border-radius: 1rem;
  }
  .text {
    width: 40%;
    text-align: left;
    font-size: 1rem;
  }
  .butt {
    width: 40%;
    background-color: #f90;
    padding: 0.4rem;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
  .butt:hover {
    background-color: black;
    border: 2px solid #f90;
    color: white;
  }
  .banner {
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
  }
  .content-four {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .slider {
    position: relative;
    width: 50%;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .slide.active {
    opacity: 1;
  }

  button.prev,
  button.next {
    position: absolute;
    bottom: 1rem;
    transform: translateY(-50%);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }

  button.prev {
    left: 2rem;
  }

  button.next {
    right: 2rem;
  }
  .content-five {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .content-six {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .content-six img {
    width: 20%;
    height: auto;
    border-radius: 5rem;
    margin: 0 auto;
    margin-top: 4rem;
  }
  .social {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .social a {
    color: #fff;
    text-decoration: none;
    background-color: #f90;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .social a:hover {
    background-color: black;
    border: #f90 solid 2px;
  }

  .fa-whatsapp {
    color: #25d366;
  }
  .fa-facebook {
    color: #3b5998;
  }
  .fa-twitter {
    color: #1da1f2;
  }
  .fa-linkedin {
    color: #0077b5;
  }
  .fa-youtube {
    color: #ff0000;
  }
  .fa-instagram {
    color: #c32aa3;
  }
}
